<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML,CSS,Jinja2">
    <meta name="author" content="Yom Eustaquio">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
    <style>
        body {
            background-color: #222;
            color: white;
            overflow-x: hidden;
        }

        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            padding: 0.1rem 1rem;
            z-index: 1;
        }

        .navbar a {
            font-size: 1rem;
        }
        
        .add-scroll {
            overflow-x: scroll;
        }
        
        ::-webkit-scrollbar {width: 6px; height: 4px; background: #d3d3d3; }
        ::-webkit-scrollbar-thumb { background-color: #2a2a2a; -webkit-border-radius: 1ex; }
        
        .dashboard-test, .contain-test-summary, .test-env-cat, .test-scenario-details, .test-scenario-details, .test-module {
            margin-bottom: 10px;
        }

        .contain-dashboard, .contain-test, .contain-detail {
            margin: 20px;
        }

        .test-definition, .contain-test-summary, .contain-test-result, .test-env-cat, .test-module, .test-scenario-details {
            padding: 20px 20px;
        }

        .dashboard-test, .contain-test-summary, .test-env-cat, test-final-report {
            background-color: black;
            border-radius: 3px 3px;
        }

        .test-module, .test-scenario-details {
            border-style: solid;
            border-width: thin;
            border-color: #FFF;
        }

        .test-scenario-details button {
            color: white;
            text-decoration: none;
            text-align: left !important;
        }

        .test-scenario-details button:hover {
            text-decoration: none;
            color: white;
        }

        .contain-test-summary .test-result-val {
            text-align: right;
            font-size: 20px;
        }

        .passedStatus {
            color: #00af00;
        }

        .failedStatus {
            color: #d90000;
        }

        .skippedStatus {
            color: #FFDF00;
        }

        .test-graph svg {
            display: block;
            margin: auto;
        }

        .table {
            color: white;
            font-size: 13px;
        }

        .card {
            background-color: transparent;
        }

        .test-env-cat .test-env{
            text-align: right;
        }

        .test-env span, .navbar span {
            padding: 7px;
            font-size: 13px;
            font-weight: normal;
        }

        .test-env .result-table {
            margin: 5px;
            color: white;   
        }

        .test-env .result-table table{
            width: 100%;
            text-align: left;
            color: white;
        }

        .test-module-result {
            text-align: right;
        }   

        
        .test-project {
            margin-top: 70px;
        }      
        

    </style>
      
    <title>Test Report</title>
   </head>
    
    <body>
        
        <nav class="navbar navbar-dark bg-dark">
          <table>
                <tr>
                    <td>
                        <a class="navbar-brand" href="#test-project">
                            <i class="material-icons">dashboard</i>
                        </a>
                    </td>
                    
                    <td>
                        <a class="navbar-brand" href="#test-results">
                            <i class="material-icons">track_changes</i>
                        </a>
                    </td>
                    
                </tr>
            </table>
          <form class="form-inline">
            <a class="navbar-brand" href="#">
                <span class="badge badge-primary">Tested By: Yom - Aug 8, 2019 12:46AM</span>
            </a>
          </form>
        </nav>

        <div class="contain-dashboard">
            <div class="test-project" id="test-project">
                <h1>{{ project_name }}</h1>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="dashboard-test">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="test-definition">
                                    <h3>Test Scenarios</h3>
                                    <table>
                                        {% for scene_num_dash in scenarios_num %}
                                            <tr> 
                                                <td> {{ scene_num_dash.result_num }} scenario(s) {{ scene_num_dash.result_name }} </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="test-definition">
                                    <div class="test-graph">
                                        <svg width="80%" height="80%" viewBox="0 0 42 42" class="donut">
                                          <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="black" ></circle>
                                          
                                          {% for result in dou_scen_results %}
                                              <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="{{ result.color }}" stroke-width="5" stroke-dasharray="{{ result.dash_array }}" stroke-dashoffset="{{ result.dashoffset }}" >
                                              </circle>
                                          {% endif %}
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="test-definition">
                                    
                                    {% if pass_scenario_legend %}
                                        <span class="passedStatus"> &#9640; Pass </span><br>
                                    {% endif %}
                                    
                                    {% if fail_scenario_legend %}
                                        <span class="failedStatus"> &#9640; Failed </span><br>
                                    {% endif %}
                                    
                                    {% if skip_scenario_legend %}
                                        <span class="skippedStatus"> &#9640; Skipped </span>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-12">
                    <div class="dashboard-test">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="test-definition">
                                    <h3>Test Steps</h3>
                                    <table>
                                        {% for step_num_dash in steps_num %}
                                            <tr> 
                                                <td> {{ step_num_dash.result_num }} step(s) {{ step_num_dash.result_name }} </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="test-definition">
                                    <div class="test-graph">
                                        <svg width="80%" height="80%" viewBox="0 0 42 42" class="donut">
                                          <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="black"></circle>

                                          {% for result in dou_step_results %}
                                              <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="{{ result.color }}" stroke-width="5" stroke-dasharray="{{ result.dash_array }}" stroke-dashoffset="{{ result.dashoffset }}" >
                                              </circle>
                                          {% endif %}
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="test-definition">
                                    {% if pass_step_legend %}
                                        <span class="passedStatus"> &#9640; Pass </span><br>
                                    {% endif %}
                                    
                                    {% if fail_step_legend %}
                                        <span class="failedStatus"> &#9640; Failed </span><br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="contain-test">
            <div class="row">
                <div class="col-md col-sm-12">
                    <div class="contain-test-summary">
                        <span>Test Scenarios</span>
                        <br>
                        <br>
                        <div class="test-result-val">{{ total_num_scenarios }}</div>
                    </div>
                </div>
                
                <div class="col-md col-sm-12">
                    <div class="contain-test-summary">
                        <span>Test Steps</span>
                        <br>
                        <br>
                        <div class="test-result-val">{{ total_num_steps }}</div>
                    </div>
                </div>
                
                <div class="col-md col-sm-12">
                    <div class="contain-test-summary">
                        <span>Start Time</span>
                        <br>
                        <br>
                        <div class="test-result-val">{{ start_time }}</div>
                    </div>
                </div>
                
                <div class="col-md col-sm-12">
                    <div class="contain-test-summary">
                        <span>End Time</span>
                        <br>
                        <br>
                        <div class="test-result-val">{{ end_time }}</div>
                    </div>
                </div>
                
                <div class="col-md col-sm-12">
                    <div class="contain-test-summary">
                        <span>Total Test Duration</span>
                        <br>
                        <br>
                        <div class="test-result-val">{{ total_test_duration }}</div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="contain-test">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="test-env-cat">
                        <div class="test-env">
                            <span class="badge badge-primary">Environment</span><br><br>
                            <div class="result-table add-scroll">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                          <td scope="col">Name</td>
                                          <td scope="col">Value</td>
                                        </tr>
                                        <tr>
                                          <td>ENVIRONMENT: </td>
                                          <td>{{ environment }}</td>
                                        </tr>
                                        <tr>
                                          <td>TEST TYPE: </td>
                                          <td>{{ test_type }}</td>
                                        </tr>
                                        <tr>
                                          <td>BROWSER: </td>
                                          <td>{{ browser }}</td>
                                        </tr>
                                        <tr>
                                          <td>BROWSER VERSION: </td>
                                          <td>{{ browser_version }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-8 col-sm-12">
                    <div class="test-env-cat">
                        <div class="test-env">
                            <span class="badge badge-primary">Test Scenarios</span><br><br>
                            <div class="result-table add-scroll">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                          <td scope="col">Test Case ID</td>
                                          <td scope="col">Name</td>
                                          <td scope="col">Passed Step(s)</td>
                                          <td scope="col">Failed Step(s)</td>
                                          <td scope="col">Scenario Skipped</td>
                                          <td scope="col">Passing Rate %</td>
                                        </tr>
                                        {% for scenario in all_scenarios %}
                                            <tr>
                                              <td>{{ scenario.id }}</td>
                                              <td>{{ scenario.description }}</td>
                                              <td>{{ scenario.num_step_passed }}</td>
                                              <td>{{ scenario.num_step_failed }} </td>
                                              <td>{{ scenario.skipped }}</td>
                                              <td>{{ scenario.passed_rate }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                               
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
         
        <div class="contain-detail" id="test-results">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    {% for module in test_module %}
                        <div class="test-scenario-details" id="accordion">

                            <div class="row">
                                <div class="col-md-8 col-sm-6 test-case-button">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#drp-test-module-{{ module.id }}" aria-expanded="false" aria-controls="collapseTwo"><i class="material-icons">keyboard_arrow_down</i>{{ module.description }}<br><span class="badge badge-info">{{ module.total_duration }}</span>
                                    </button>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="test-module-result">
                                        
                                        {% if pass_module %}
                                            <span class="passedStatus">Passed <i class="material-icons">verified_user</i></span><br>
                                        {% endif %}

                                        {% if fail_module %}
                                            <span class="failedStatus">Failed <i class="material-icons">report</i></span><br>
                                        {% endif %}

                                        {% if skip_module %}
                                            <span class="skippedStatus">Skipped<i class="material-icons">skip_next</i></span><br>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            </div>

                            <div id="drp-test-module-{{ module.id }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <br>
                              <div class="result-table add-scroll">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                              <td scope="col">Status</td>
                                              <td scope="col">Test Scenarios</td>
                                            </tr>
                                            
                                            {% for scenario in test_scenarios %}
                                                {% if passed_scenario in test_scenarios %}
                                                    <tr>
                                                      <td><span class="passedStatus"><i class="material-icons">verified_user</i></span></td>
                                                      <td>{{ scenario.description }}</td>
                                                    </tr>
                                                {% endif %}
                                            
                                                {% if failed_scenario in test_scenarios %}
                                                    <tr>
                                                      <td><span class="failedStatus"><i class="material-icons">report</i></span></td>
                                                      <td>{{ scenario.description }}</td>
                                                    </tr>
                                                {% endif %}
                                            
                                                {% if skipped_scenario in test_scenarios %}
                                                    <tr>
                                                      <td><span class="skippedStatus"><i class="material-icons">skip_next</i></span>
                                                  </td>
                                                      <td>{{ scenario.description }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                   
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
                
                <div class="col-md-8 col-sm-12">
                    
                    {% for scenario in test_scenario_details %}
                        <div class="test-scenario-details" id="accordion">

                            <div class="row">
                                <div class="col-md-6 col-sm-6 test-case-button">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#drp-test-case-{{ scenario.id }}" aria-expanded="false" aria-controls="collapseTwo"><i class="material-icons">keyboard_arrow_down</i> {{ scenario.description }} <br><span class="badge badge-success">{{ scenario.start }}</span> <span class="badge badge-danger">{{ scenario.end }}</span> 
                                    </button>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="test-module-result">
                                        {% if pass_module %}
                                            <span class="passedStatus">Passed <i class="material-icons">verified_user</i></span><br>
                                        {% endif %}

                                        {% if fail_module %}
                                            <span class="failedStatus">Failed <i class="material-icons">report</i></span><br>
                                        {% endif %}

                                        {% if skip_module %}
                                            <span class="skippedStatus">Skipped<i class="material-icons">skip_next</i></span><br>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        
                            <div id="drp-test-case-{{ scenario.id }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                              <br>
                              <div class="result-table add-scroll">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                              <td scope="col">Status</td>
                                              <td scope="col">Time Stamp</td>
                                              <td scope="col">Test Step ID</td>
                                              <td scope="col">Description</td>
                                              <td scope="col">Value</td>
                                            </tr>
                                            {% for step in test_steps %}
                                                <tr>
                                                    {% if pass_module %}
                                                        <span class="passedStatus"><i class="material-icons">verified_user</i></span><br>
                                                    {% endif %}

                                                    {% if fail_module %}
                                                        <span class="failedStatus"><i class="material-icons">report</i></span><br>
                                                    {% endif %}

                                                    {% if skip_module %}
                                                        <span class="skippedStatus"><i class="material-icons">skip_next</i></span><br>
                                                    {% endif %}

                                                  <td>{{ step.start }}</td>
                                                  <td>{{ step.id }}</td>
                                                  <td>{{ step.description }}</td>
                                                  <td>{{ step.value }}</td>

                                                </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                    
                                </div>

                            </div>
                        </div>
                     {% endfor %}
                    
                </div>
            </div>
        </div>
        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>